@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";


@layer base {
    body {
        @apply text-black bg-white
    }
    h1 {
        @apply text-[30px] md:text-[36px] lg:text-[38px] xl:text-[44px] 2xl:text-[48px] font-bold
    }
    h2 {
        @apply text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[24px] 
    }
    button {
        @apply bg-black rounded-[100px] h-[30px] w-[150px] cursor-pointer hover:scale-105 transition duration-200
    }
}

body {
    font-family: 'Poppins'
}